<div id="carousel_container">
  <h1>My Books</h1>
    <ul class="carousel">
        <li>
        Snow!<br>
          <a href="snow.md"><img src="{{ "/img/snow_inset_carousel_thumb.png" | prepend: site.baseurl }}"></a>
        </li>
        <li>
        Ocean's Child<br>
           <img src="{{ "/img/oceans_child_carousel_thumb.png" | prepend: site.baseurl }}">
        </li>
        <li>
        The Navy's Night Before Christmas<br>
           <img src="{{ "/img/navy_carousel_thumb.png" | prepend: site.baseurl }}">
        </li>
         <li>
         The Soldier's Night Before Christmas<br>
            <img src="{{ "/img/soldiers_carousel_thumb.png" | prepend: site.baseurl }}">
        </li>
        <li>
        Scout<br>
            <img src="{{ "/img/scout_carousel_thumb.png" | prepend: site.baseurl }}">
        </li>
    </ul>
</div>
