#front_display {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background:rgb(0,0,0);  
    background: transparent\9;  
    background:rgba(0,0,0,0.4);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1;  
    border-radius: 10px;
}
#front_display:nth-child(n) {
    filter: none;
}
@include media-query($on-laptop) {
    #front_display {
        max-width: 300px;
        min-height: 450px;
    }
}
@include media-query($on-palm) {
    #front_display {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
} 
#front_display p {
    font-size: 1.24rem;
}
#logo_container {
    position: relative;
    margin: 10px auto 40px auto;
    width: 225px;
    height: 200px;
    background: url("../img/bio_horse.png") no-repeat center center;
    background-size: contain;
}
@include media-query($on-laptop) {
    #logo_container {
        margin: 0 auto;
        width: 250px;
        height: 225px;
    }
}
@include media-query($on-palm) {
    #logo_container {
        margin-left: 10px;
        width: 225px;
        height: 175px;
    }
}
.title_poem {
    max-width: 450px;
    height: auto;
    margin: 0 auto 0 auto;
    text-align: center;
}
@include media-query($on-laptop) {
    .title_poem {
        margin: 0 15px 0 15px;
    }
}
@include media-query($on-palm) {
    .title_poem {
        margin: 0;
        max-width: 300px;
        overflow: hidden;
    }
}
